---
import Layout from '@/layouts/Layout.astro'
import { experiences, education, skills, publications } from '../data/cv'
import CvTimeline from '@/components/ui/CvTimeline.astro'
import { seo } from '@/settings'
import { orderByTime } from '@/lib/utils'

import type { Experience, Education, Publication } from '../types/cv'
import Grid from '@/components/ui/Grid.astro'
import PublicationsList from '@/components/ui/PublicationsList.astro'

const orderedExperiences: Experience[] = experiences.length > 0 ? orderByTime(experiences) : []

const orderedEducations: Education[] = education.length > 0 ? orderByTime(education) : []

const orderedPublications: Publication[] = publications.length > 0 ? orderByTime(publications) : []
---

<Layout title={`${seo.default_title} | CV`}>
	{
		orderedEducations.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Education
				</h2>
				<CvTimeline elements={orderedEducations} colored={true} />
			</section>
		)
	}

	{
		orderedExperiences.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Experience
				</h2>
				<CvTimeline elements={orderedExperiences} colored={true} />
			</section>
		)
	}

	{
		orderedPublications.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Latest publications
				</h2>
				<PublicationsList elements={orderedPublications.slice(0, 3)}/>
			</section>
		)
	}

	{
		skills.length > 0 && (
			<section class='mb-12'>
				<Grid gridTitle='Skills' gridItems={skills}/>
			</section>
		)
	}
</Layout>
